
 <!DOCTYPE html>
 <html lang="en">
<%- include('./components/header.ejs'); %>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://seanmcginty.space/assets/stylesheets/css/error.css" />
 <body>
 <div id="error">
 <div class="error">
 <div class="error-code">
 <h1>404</h1>
 </div>
 <h2>404 - Resource not found</h2>
 <p>The resource you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
 <a href="https://dev.seanmcginty.space">Go To Homepage</a>
 </div>
 </div>
 </body>
 </html>
 