<!DOCTYPE html>
<html lang="en" id="gamewin">

    <%- include('./components/header.ejs'); %>
    
	<body>
		<div id="loader">
			<p class="loading-text">Connecting to server...</p>
			<div class="loading-bar">
				<div class="loading-inner-bar"></div>
			</div>
			<p class="loading-item">Loading...</p>
		</div>
		<!-- https://codepen.io/Boogiesox/pen/MYbWrj -->
		<div id="info">v0.0.1 Debug Mode<br />WASD to move, space to jump, use mouse to throw balls and move the camera.<br><span id="debug">Loading...</span></div>
		<div id="chat">
			<div id="chat-msg-container"></div>
			<input id="chat-input" placeholder="Chat" type="text" class="input" name="message">
		</div>
		<div id="container"></div>
        <script type="importmap">
            {
              "imports": {
                "three": "./build/three.module.js"
              }
            }
        </script>
		<script src="../js/scripts.js"></script>
		<script src="../js/game.js"type="module"></script>
	</body>
</html>
