<!DOCTYPE html>
<html lang="en" id="gamewin">

    <%- include('./components/header.ejs'); %>
    
	<body>

		<%- include('./components/game-core.ejs'); %>
		
        <script type="importmap">
            {
              "imports": {
                "three": "./build/three.module.js"
              }
            }
        </script>
		<script src="../js/scripts.js"></script>
		<script src="../js/game.js"type="module"></script>
	</body>
</html>
