<!DOCTYPE html>
<html lang="en">

    <%- include('./components/header.ejs'); %>
    <head>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="http://localhost:3000/js/vendor/jquery.terminal.min.js"></script>
        <link rel="stylesheet" href="https://unpkg.com/jquery.terminal@2.x.x/css/jquery.terminal.min.css"/>
        <style>
            .terminal-table > td {
                padding: 5px;
            }
            #terminal {
                height: 100%;
            }
            :root {
                --background: black;
            }
        </style>
    </head>
    <body>
        <div id="terminal"></div>
<script>
var term = $('#terminal').terminal({
    friends: function(userid) {
        try {
            $.ajax({
                url: 'http://localhost:3000/api/friends/'+userid,
                timeout: 1500,
                error: function () {
                    console.log('Friends API timed out.');
                },
                success: function (payload) {
                    if (payload.players.length === 0) {
                        term.echo(`No friends found for User #${userid}`);
                    } else {
                        term.echo(`There were ${payload.players.length} records found for User #${userid}`);
                        for (let i=0; i<payload.players.length; i++) {
                            term.echo(`Username: ${payload.players[i].username} | Online: ${payload.players[i].isOnline} | Accepted: ${payload.players[i].accepted}`);
                        }
                    }
                }
            })
        } catch(err) {
            console.log(err);
        }
    },
    color: function(arg) {
        const colors = ['black','red','blue'];
        if (colors[arg] === undefined) {
            term.echo(`Invalid argument "${arg}"`);
        } else {
            document.documentElement.style.setProperty('--background', colors[arg]);
        }
    },
    close: function(arg1, arg2) {
        console.log(arg1);
        console.log(arg2);
    },
    help: function() {
        // To be complteted
        const commands = [
            {
                'name': 'CALL',
                'descriptor': 'Calls on batch program from another.'
            },{
                'name': 'CD',
                'descriptor': 'Displays the name of or changes the current directory.'
            },{
                'name': 'CLEAR',
                'descriptor': 'Clears the screen.'
            },{
                'name': 'COLOR',
                'descriptor': 'Sets the default console foreground and background colors.'
            },{
                'name': 'EXIT',
                'descriptor': 'Exits the current interpreter.'
            },{
                'name': 'FRIENDS',
                'descriptor': 'Returns friends through the internal API.'
            }
        ];
        let commandContainer = `<span>
            For more information on a specific command, type help 'command-name'<br>
            <table>
                <tbody>`;
        for (let i=0; i<commands.length; i++) {
            commandContainer += `<tr class="terminal-table">
                        <td>
                            ${commands[i].name}
                        </td>
                        <td>
                            ${commands[i].descriptor}
                        </td>
                    </tr>`;
        }

        commandContainer += `</tbody>
            </table>
        </span>`;
        const div = $(commandContainer);
        this.echo(div);
    }
});

term.set_prompt(function(set_prompt) {
    set_prompt('[[;red;]<%= session.username %>@dev.seanmcginty.space >>> ]');
});
</script>
    </body>
</html>