<div id="loader">
    <p class="loading-text">Connecting to server...</p>
    <div class="loading-bar">
        <div class="loading-inner-bar"></div>
    </div>
    <p class="loading-item">Loading...</p>
</div>
<div id="menu" class="hidden">
    <div class="blur"></div>
    <div class="content">
        <div>        
            <div class="my-4 cursor-pointer" id="gameMenu-0">
                <img src="./assets/author.png" style="height: 80px;">
            </div>
            <div class="my-4 cursor-pointer" id="gameMenu-1">
                <img src="./assets/author.png" style="height: 80px;">
            </div>
            <div class="my-4 cursor-pointer" id="gameMenu-2"">
                <img src="./assets/author.png" style="height: 80px;">
            </div>
            <div class="my-4 cursor-pointer" id="gameMenu-3">
                <img src="./assets/author.png" style="height: 80px;">
            </div>
        </div>
        <div class="my-4 cursor-pointer" id="gameMenu-4">
            <img src="./assets/author.png" style="height: 80px;">
        </div>
    </div>
</div>

<div id="info">v0.0.1 Debug Mode<br />WASD to move, space to jump, use mouse to throw balls and move the camera.<br><span id="debug">Loading...</span></div>

<div id="chat">
    <div id="chat-msg-container"></div>
    <input id="chat-input" placeholder="Chat" type="text" class="input" name="message">
</div>

<div id="health-container">
    <h3 id="health-stat">+ 100</h3>
    <h3 id="armour-stat" class="ms-4">X 100</h3>
</div>

<div id="weapon-container" class="d-flex flex-column align-items-end justify-content-end">
    <div id="weapon-primary">
        <h3>Rifle</h3>
    </div>
    <div id="weapon-secondary">
        <h3>Pistol</h3>
    </div>
    <div id="weapon-knife">
        <h3>Knife</h3>
    </div>
    <div id="weapon-grenades">
        <h3>Grenades</h3>
    </div>
    <div id="weapon-bomb">
        <h3>Bomb</h3>
    </div>
    <span class="d-flex align-items-end justify-content-end">
        <h3>20</h3>
        <h5>/120</h5>
    </span>
</div>

<div id="scene-transition"></div>
<div id="game-alert"></div>

<div id="container"></div>
<div class="tab-container" style="display: none;">
    <div class="tab-scores">
        <!-- Scores
            Kill: +2
            Assist: +1
            Suicide: -1 Kills
            Scoring Flag: +5
        -->
        <div id="tab-mode" class="d-flex justify-content-between w-100">
            <h2>Mode Loading</h2>
            <h2>Map Loading</h2>
            <h2>Time Loading</h2>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="tb-1">
                            <img src="./assets/author.png">
                            <p>Counter Terrorists</p>
                            <p>Alive: 5/5</p>
                        </div>
                    </td>
                    <td>
                        <table class="tb-2">
                            <thead>
                                <tr>
                                <th>MS</th>
                                <th><!-- Rank | Image | Username --></th>
                                <th>Kills</th>
                                <th>Deaths</th>
                                <th>Assists</th>
                                <th>Score</th>
                                </tr>
                            </thead>
                            <tbody class="tab-players">
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tb-1">
                            <img src="./assets/author.png">
                            <p>Terrorists</p>
                            <p>Alive: 5/5</p>
                        </div>
                    </td>
                    <td>
                        <table class="tb-2">
                            <thead>
                                <tr>
                                <th><div class="spacer"></div></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                </tr>
                            </thead>
                            <tbody class="tab-players t">
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
