<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A game for a programming task in the Computer Science course." />
    <meta name="author" content="Sean McGinty" />
    <title><%= title %> | Computer Science Project</title>
    <!-- https://freefrontend.com/bootstrap-timelines/ -->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/styles.css" rel="stylesheet" />
</head>