<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top border-bottom border-dark">
    <div class="container-fluid">
        <a href="./" class="text-decoration-none"><h2 class="mb-0 text-warning">CS:Computer Science</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item"><a class="nav-link" href="https://github.com/s3ansh33p/Computer-Science-ATAR/" target="_blank">Source Code</a></li>
                <li class="nav-item"><a class="nav-link" href="./updates">Updates</a></li>
                <li class="nav-item"><a class="nav-link" href="./store">Store</a></li>
                <% if (typeof(session) !== 'undefined') { %>
                    <% if (session.loggedin) { %>
                        <li class="nav-item"><a class="nav-link" href="./home">Play</a></li>
                        <li class="nav-item"><a class="nav-link" href="./logout">Logout</a></li>
                    <% } else { %>
                        <li class="nav-item"><a class="nav-link" href="./login">Login</a></li>
                    <% } %>
                <% } %>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#!">Action</a>
                        <a class="dropdown-item" href="#!">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#!">Something else here</a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
</nav>